{{>partials/header}}

Opa {{name}} {{lastName}}, tudo bem?
{{#showOld}}
    Como vai a vida?
{{/showOld}}
{{^showOld}}
    Beleza?
{{/showOld}}
<hr/>

<fieldset>
    <legend>Adicionar Novo Usuário</legend>

    <form  method="POST" action="/novousuario">
        <input type="text" name="firstName" placeholder="Digite seu Nome" /><br/>
        <input type="text" name="lastName" placeholder="Digite seu Sobrenome" /><br/>
        <input type="email" name="email" placeholder="Digite seu E-mail" /><br/>
        <input type="text" name="age" placeholder="Digite sua idade" /><br/>
        <input type="text" name="interests" placeholder="Digite seus interesses (separados em vírgula)" /><br/>
        <input type="submit" value="Inserir"/><br/>
    </form>
</fieldset>

<hr/>
<h2>Produtos</h2>
<ul>
    {{#products}}
        {{>partials/productItem}}
    {{/products}}
</ul>

<hr/>
<h2>Produtos a partir de R$ 12</h2>
<ul>
    {{#expensives}}
        {{>partials/productItem}}
    {{/expensives}}
</ul>

<hr/>

<ul>
    {{#frasesDoDia}}
        <li>{{.}}</li>
    {{/frasesDoDia}}
    {{^frasesDoDia}}
        Não há frases motivacionais hoje.
    {{/frasesDoDia}}
</ul>
<hr/>
<h2>Usuários</h2>
<ul>
    {{#users}}
        <li>{{name.firstName}} - {{name.lastName}}</li>    
    {{/users}}
</ul>

{{>partials/footer}}